<div class="row justify-content-center">
  <div class="col-xl-4 col-md-6">
    <div *ngIf="error" class="alert alert-danger">
      <p>{{error}}</p>
    </div>
<!--    <div style="text-align: center">-->
<!--      <app-spinner *ngIf="isLoading"></app-spinner>-->
<!--    </div>-->
    <div class="alert alert-info mt-4">
      <h5>Here you can login as admin to add phones the store.</h5>
    </div>
    <div class="card mt-4">
      <h4 class="card-header">
        This is admin login.
      </h4>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)"
            class="mr-3 ml-3 mt-3">
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" type="email" id="email"
                 ngModel
                 name="email"
                 required
                 email>
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input class="form-control" type="password" id="password"
                 ngModel
                 name="password"
                 required
                 minlength="6">
        </div>
        <div class="form-group">
          <button class=" btn btn-primary" type="submit" [disabled]="!form.valid">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
