<div class="row justify-content-center">
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Product</th>
          <th scope="col">Available</th>
          <th scope="col" class="text-center">Quantity</th>
          <th scope="col" class="text-right">Price</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let phone of phones; let i = index">
          <td><img src="{{ phone.image }}" /></td>
          <td>{{ phone.name }}</td>
          <td *ngIf="phone.pieces > 0"><i class="fa fa-check"></i></td>
          <td *ngIf="phone.pieces < 1"><i class="fa fa-times"></i></td>
          <td id="amount">
            <input
              [disabled]="phone.pieces < 1"
              id="amountIn"
              class="form-control"
              type="number"
              min="0"
              value="1"
              #amount
              (change)="calculatePrice(phone.price, amount); total()"
            />
          </td>
          <td *ngIf="phone.pieces > 0" class="text-right" name="cena">
              <span>
                {{ calculatePrice(phone.price, amount) | currency }}
              </span>
          </td>
          <td *ngIf="phone.pieces < 1" class="text-right">
            {{ 0 | currency }}
          </td>
          <td class="text-right">
            <button class="btn btn-sm btn-danger" (click)="delete(i)">
              <i class="fa fa-trash"> </i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <span
        class="text-right"
        style="font-size: 22px; font-weight: bold; float: right;"
      >
        Total: {{ finalPrice | currency }}
      </span>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <button
          class="btn btn-lg btn-block btn-primary rounded-0"
          (click)="backToShopping()"
        >
          Continue Shopping
        </button>
      </div>
      <div class="col-sm-12 col-md-6 text-right">
        <button
          class="btn btn-lg btn-block btn-success text-uppercase rounded-0"
          [disabled]="finalPrice < 1"
        >
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
