<div class="card rounded-0" style="width: 13rem;">
  <a style="cursor: pointer;" [routerLink]="phone.name">
    <img class="card-img-top" [src] = phone.image
         [alt]="phone.name" /></a>
  <div class="card-body">
    <h6 class="text-muted text-center">{{phone.name | shorten}}</h6>
    <p class="card-text text-center">
      {{phone.price | currency}}
    </p>
    <div class="text-center" *ngIf="isLoggedIn">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-4">
            <i (click)="addToWishList(phone)" class="fa fa-heart-o btn"></i>
          </div>
          <div class="col-sm-4">
            <i (click)="addToCart(phone)" class="fa fa-shopping-cart btn"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
