.controls-bottom .btn{
  background-color: #D10024;
  color: white;
  margin: 20px 10px 20px 10px;
  border-radius: 50%;
}

.footer p{
  width: 70%;
}
.copyright{
  background-color:#1e1f29;
  padding-top: 50px;
  padding-bottom: 50px;
}
.copyright p{
  color: white;
}
.copyright i{
  color: white;
  margin: 0 5px 0 5px;
}

.footer{
  background: #15161d;
  color: #77767c;
}
.footer h5{
  color: white;
}
.footer i{
  color: #D10024;
  width: 30px;
  margin: 9px 2px 9px 0;
}
.footer ul {
  list-style: none;
}
.nav-link:hover{
  color: #D10024;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
a {
  color: #77767c;
}

.fa-heart-o{
  background-color: transparent;
  width: 40px;
  height: 40px;
  line-height: 170%;
  border-radius: 50%;
}

.fa-heart-o:hover{
  background-color: #e4e7ed;
  transition: 0.3s ease-in-out;
  color: #D10024;
}

.fa-shopping-cart{
  background-color: transparent;
  width: 40px;
  height: 40px;
  line-height: 170%;
  border-radius: 50%;
}

.fa-shopping-cart:hover{
  background-color: #e4e7ed;
  transition: 0.3s ease-in-out;
  color: #D10024;
}
