<div class="row mt-2 mb-2">
  <div class="col-md-4 col-xs-6" *ngFor="let phone of firstPhones">
    <div class="shop">
      <div class="shop-img">
        <img [src] = phone.image [alt] = phone.name>
      </div>
      <div class="shop-body">
        <h3>{{phone.name}}</h3>
        <a [routerLink]="['/phones/' + phone.name]" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <h2 id="new" #new>NEW PRODUCTS</h2>
  </div>
</div>

<div class="row justify-content-center" *ngIf="phoneList.length === 0">
  <app-spinner></app-spinner>
</div>

<div class="row justify-content-center" *ngIf="phoneList.length != 0">
  <div class="col-xl-3 col-lg-4 col-md-6 mt-5" *ngFor="let phone of phoneList">
    <div class="card rounded-0" style="width: 18rem;">
      <img class="card-img-top" [src] = phone.image [alt] = phone.name [routerLink]="['/phones/' + phone.name]">
      <div class="card-body">
        <h6 class="text-muted text-center">{{phone.name}}</h6>
        <p class="card-text text-center">{{phone.desc | shortendesc}}
          <div class="text-center">
            <div class="container">
              <div class="row justify-content-center" *ngIf="isLoggedIn">
                <div class="col-sm-4">
                  <i class="fa fa-heart-o btn" (click)="onAddToWishlist(phone); onShowWishListDialog(phone)"></i>
                </div>
                <div class="col-sm-4">
                  <i class="fa fa-shopping-cart btn" (click)="onAddToCart(phone);  onShowCartDialog(phone)"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="overlay">
            <div class="text">
              {{phone.price | currency}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="showCartDialog">
  <div class="col">
    <app-cart-dialog [phone]="phoneDialog"></app-cart-dialog>
  </div>
</div>
<div class="row justify-content-center" *ngIf="showWishlistDialog">
  <div class="col">
    <app-wishlist-dialog [phone]="phoneWishlistDialog"></app-wishlist-dialog>
  </div>
</div>
<div class="row justify-content-center text-center hotdeals mb-5 pb-5 pt-5" #weekly>
  <div class="col-sm-3">
    <img src="../../images/a51.png" class="img-fluid">
  </div>
  <div class="col-sm-6">
    <div class="timer">
      <p>{{days}} <br><span>DAYS</span></p>
    </div>
    <div class="timer">
      <p>{{hours}} <br><span>HOURS</span></p>
    </div>
    <div class="timer">
      <p>{{minutes}} <br><span>MINUTES</span></p>
    </div>
    <div class="timer">
      <p>{{seconds}}<br><span>SECONDS</span></p>
    </div>
    <div class="mt-4">
      <h2 style="font-weight: bold;">HOT DEAL THIS WEEK</h2>
      <h4 style="font-weight: 100;">NEW COLLECTION UP TO 15% OFF</h4>
      <button class="btn mt-3" (click)="goToHotDeals()">Shop now</button>
    </div>
  </div>
  <div class="col-sm-3">
    <img src="../../images/iphone.png" class="img-fluid">
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <h2 id="topselling">TOP SELLING</h2>
  </div>
</div>

<div class="row justify-content-center" *ngIf="topSelling.length === 0">
  <app-spinner></app-spinner>
</div>

<div class="row justify-content-center text-center mb-5" *ngIf="topSelling.length != 0">
  <div class="col-md-12">
    <div id="carousel-multi" data-interval="4000" class="carousel slide carousel-multi" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 mt-5" *ngFor="let phone of topSelling.slice(0,4)">
              <div class="card rounded-0" style="width: 18rem;">
                <img class="card-img-top" [src] = phone.image [alt] = phone.name [routerLink]="['/phones/' + phone.name]">
                <div class="card-body">
                  <h6 class="text-muted text-center">{{phone.name}}</h6>
                  <p class="card-text">{{phone.desc | shortendesc}} </p>
                    <div class="text-center">
                      <div class="container">
                        <div class="row justify-content-center" *ngIf="isLoggedIn">
                          <div class="col-sm-4">
                            <i class="fa fa-heart-o btn" (click)="onAddToWishlist(phone); onShowWishListDialog(phone)"></i>
                          </div>
                          <div class="col-sm-4">
                            <i class="fa fa-shopping-cart btn" (click)="onAddToCart(phone); onShowCartDialog(phone)"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 mt-5" *ngFor="let phone of topSelling.slice(4,8)">
              <div class="card rounded-0" style="width: 18rem;">
                <img class="card-img-top" [src] = phone.image [alt] = phone.name [routerLink]="['/phones/' + phone.name]">
                <div class="card-body">
                  <h6 class="text-muted text-center">{{phone.name}}</h6>
                  <p class="card-text">{{phone.desc | shortendesc}}</p>
                    <div class="text-center">
                      <div class="container">
                        <div class="row justify-content-center" *ngIf="isLoggedIn">
                          <div class="col-sm-4">
                            <i class="fa fa-heart-o btn" (click)="onAddToWishlist(phone); onShowWishListDialog(phone)"></i>
                          </div>
                          <div class="col-sm-4">
                            <i class="fa fa-shopping-cart btn" (click)="onAddToCart(phone); onShowCartDialog(phone)"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="controls-bottom text-center">
        <a class="btn" href="#carousel-multi" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn" href="#carousel-multi" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="line">
    </div>
   </div>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-xl-8 col-md-10 col-sm-10">
    <div class="email text-center">
      <h5 class="mb-4">IF YOU WANT US <strong>TO INFORM YOU</strong> FOR EVERY NEW DEAL. <br>SEND US YOUR EMAIL</h5>
      <input required email class="form-control" placeholder="@email" ngModel name="mail" #mail="ngModel">
      <button [disabled]="!mail.valid" class="btn" (click)="onSendEmail(mail.value)"><i class="fa fa-envelope"></i>Send</button>
    </div>
    <div class="social text-center pt-2">
      <div class="items">
        <a href="https://www.facebook.com/"> <i class="fa fa-facebook"></i></a>
      </div>
      <div class="items">
        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="items">
        <a href="https://instagram.com/"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="items">
        <a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="line mb-5">
</div>

<div class="row pl-5 pb-5 pt-5 footer justify-content-center">
  <div class="col-xl-3 pl-5">
    <h5>ABOUT US</h5>
    <p>Shop in our store for best experience in online shopping. Thank you!</p>
    <i class="fa fa-map-marker"></i><span> Rugjer Boshkovikj 16, Skopje</span><br>
    <i class="fa fa-phone"></i><span> +389 78 555-555</span><br>
    <i class="fa fa-envelope"></i><span> mobile@store.com</span>
  </div>
  <div class="col-xl-3 pl-5">
    <h5>SERVICE</h5>
    <nav  class="navbar pl-0">
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">Shopping cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrol(weekly)">Weekly deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrol(new)">New!</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-xl-3 pl-5">
    <h5>MENU</h5>
    <nav class="navbar pl-0">
      <div>
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/phones">Phones</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/hot-deals">Hot deals</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-xl-3 pl-5">
    <h5>BRANDS</h5>
    <nav class="navbar pl-0">
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://www.apple.com/">Apple</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.samsung.com/us/">Samsung</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://consumer.huawei.com/mk/">Huawei</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.lg.com/us">LG</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="row copyright">
  <div class="col-xl-12 text-center">
    <div>
      <i class="fa fa-cc-visa fa-3x"></i>
      <i class="fa fa-cc-paypal fa-3x"></i>
      <i class="fa fa-cc-amex fa-3x"></i>
      <i class="fa fa-cc-mastercard fa-3x"></i>
      <i class="fa fa-cc-discover fa-3x"></i>
    </div>
    <p class="small pt-4">Copyright ©2020 All rights reserved | Kiril and Marco</p>
  </div>
</div>
